extends layout

block content
  div#contents
    input(type="hidden", id="newReserve")
    form(method="post", action="/")
      input#schedulePlan(type="hidden", value="#{datas}", name="schedule")
      input(type="submit", id="reloadButton", value="更新")
    div#calendar
