extends layout

block content
  div#contents
    input(type="hidden", id="newReserve")
    form(method="post", name="sendScedule", action="/")
      input#schedulePlan(type="hidden", value="#{datas}", name="schedule")
    div#calendar
