doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css")
    //script(type="text/javascript", src="javascripts/jquery-2.1.4.min.js", charset="utf-8")
    // datepicker
    //- script(src="http://code.jquery.com/jquery-1.8.3.js")
    //- script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
    //- script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js")
    // fullcalendar
    link(href='/stylesheets/fullcalendar.css' rel='stylesheet')
    link(href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print')
    script(src='javascripts/moment.min.js')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/fullcalendar.min.js')
    script(src='javascripts/myCalendar.js')
  body
    block header
      div#header
        h1 インキュC会議室予約システム
        hr
      
    block content
      
    block footer
      div#footer
        hr
        footer ここにフッターを記述?
