doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //- own css
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- fullcalendar
    link(href='/stylesheets/fullcalendar.css' rel='stylesheet')
    link(href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print')
    //- javascripts setting
    script(src='javascripts/moment.min.js')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/fullcalendar.min.js')
    script(src='javascripts/myCalendar.js')
  body
    block header
      div#header
        h1 インキュC会議室予約システム
        hr
      
    block content
      
    block footer
      div#footer
        hr
        footer ~更新情報~
          table
            tr
              td 2015.09.25
              td Ver 1.0
              td 公開
            tr
              td 2015.10.05
              td Ver 1.1
              td 選択してからの名前入力機能、ボタンなどのレイアウト
